body {
    background-color: white;
    color: black;
    font-family: 'Ibarra Real Nova', serif;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    background-color: transparent; /* Odstranění podbarvení nadpisů */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

a {
    color: blue; /* Barva odkazů */
    text-decoration: none; /* Odstranění podtržení odkazů */
}

a:hover {
    text-decoration: underline; /* Podtržení odkazů při najetí myší */
}
